@media (min-width: 1000px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    h3 {
        font-size: 30px;
    }

    footer {
        display: flex;
        flex-direction: row;
    }

    #lastModified {
        padding-top: 0;
    }
}