@import url('https://fonts.googleapis.com/css2?family=Domine&family=Montserrat:wght@800&display=swap');

body {
    margin: auto;
    max-width: 1500px;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    max-width: 1500px;
}

h1 {
    grid-column: 1/2;
    padding-left: 20px;
    font-family: Montserrat;
}

/* The switch - the box around the slider */
.switch {

    display: inline-block;
    width: 60px;
    height: 34px;
    position: absolute;
    top: 4rem;
    right: 0.5rem;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #81adc2;
}

input:focus+.slider {
    box-shadow: 0 0 1px #81adc2;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.dark-mode {
    background-color: black;
}

.dark-mode h1 {
    color: white;
}

#menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 3px 7px 6px;
    background-color: rgb(193, 198, 202, 0.3);
    color: black;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✕";
}

nav {
    grid-column: 1/3;
    grid-row: 2/3;
    width: 100%;
    margin: auto;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #C1D0D7;
    color: black;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: Domine;
}

.navigation a:hover {
    background-color: #8C8C85;
    color: white;
}

.open a {
    display: block;
}

.active::before {
    content: "🔍";
}

a {
    margin: auto;
    font-family: Domine;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: black;
}

main {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
}

.hero {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    margin: auto;
    max-width: 1500px;
    padding-top: 20px;
    padding-bottom: 20px;
}

picture {
    width: 100%;
    height: auto;
}

picture img {
    width: 100%;
}

.action_call {
    padding: 10px;
    background-color: white;
    color: black;
    grid-column: 1/2;
    grid-row: 1/2;
    box-shadow: 2px 2px 10px 1px #C1C6CA;
}

section,
.images {
    width: 80%;
    background-color: white;
    margin: auto;
    border: 1px solid black;
    margin-bottom: 30px;
    box-shadow: 2px 2px 10px 1px #C1C6CA;
}

.events {

    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    font-family: Domine;
}

.weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: rgb(193, 208, 215, 0.5);
}


#weather_img {
    grid-column: 1/2;
    width: 70%;
    margin: auto;
    margin-left: 50px;
    max-width: 1500px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 2px 2px 10px 1px black;
}

.weather div {
    background-color: white;
    grid-column: 2/3;
    width: 90%;
    margin: auto;
    box-shadow: 2px 2px 10px 1px black;
}

.weather div h3 {
    margin: auto;
    text-align: center;
    padding: 20px;
}

.weather div p {
    margin: auto;
    text-align: center;
    padding: 5px;
    font-family: Domine;
}


label {
    display: block;
    font-family: Domine;
}

input,
label {
    margin: 0.1rem;
    font-family: Domine;
    box-shadow: none;
}

input {
    width: 70%;
    text-align: center;
}

div .weather {
    display: flex;
    flex-direction: row;
    box-shadow: none;
}

h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    font-family: Montserrat;
}

h3 {
    font-family: Montserrat;
}

.card {
    text-align: center;
    font-family: Domine;
}

.card div {
    padding-bottom: 30px;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    font-family: Domine;
    background-color: rgb(193, 208, 215, 0.8);
}

footer p {
    margin: 5px;
}

/*----- Discover Page Styling -----*/

.sidebar {
    padding: 20px;
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-column: 1/2;
    grid-row: 4/5;
    border: none;
    box-shadow: none;
}

.images p {
    text-align: center;
}

.images img {
    margin-bottom: 50px;
}

.attractions li {
    list-style: circle;
    margin: 10px;
}

/*----- Calendar -----*/
ul {
    list-style-type: none;
}

/* Month header */
.month {
    padding: 70px 10%;
    width: 80%;
    background: #81adc2;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #81adc2;
    color: white !important
}

/* ------------------ FORM F1------------------ */

.f1 {
    margin-top: 50px;
}

.membership {
    margin-top: 50px;
}

.f1 label {
    display: block;
    padding: 1rem;
    color: black;
    font-size: .9rem;
    width: 100%;
}

.f1 input[type=text],
.f1 input[type=tel],
.f1 input[type=email],
.f1 select,
.f1 textarea {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .8rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
    text-align: left;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px white;
    transition: all 0.2s ease-in-out;
}

.f1 input[type="submit"] {
    border: none;
    background-color: #81adc2;
    color: white;
    border-radius: 6px;
    padding: .8rem;
    width: 100%;
    margin: -1rem 2rem;
    max-width: 400px;
    box-shadow: 1px 1px 4px #999;
}

.f1 input:required {
    border-left: solid 3px red;
}

.f1 input:required:valid {
    border-left: solid 3px green;
}

.membership h2 {
    margin-top: 100px;
    text-align: left;
    margin-left: 30px;
}

.membership section {
    padding: 20px;
}

.membership ul {
    list-style: circle;
}

.dark-mode .membership h2 {
    color: white;
}

.dark-mode .f1 label {
    color: white;
}

.record {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    text-align: center;
}


/* ------------------ DIRECTORY PAGE ------------------ */

.menu {
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
}

.menu button {
    font-family: Montserrat;
    padding: 1rem 2.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 5px;
    align-items: center;
}

.grid section {
    text-align: center;
    background-color: #C1C6CA;
}

.grid img {
    border: 1px solid #fff;
    box-shadow: 0 0 10px #8C8C85;
}

.grid section>* {
    margin: 0.1rem;
}

.grid h3 {
    font-family: Montserrat;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.list section>* {
    margin: 0 1rem;
}

.list section img {
    display: none;
}

.list section h3 {
    grid-column: 1/4;
    font-size: 1rem;
    font-family: Domine;
    margin-bottom: 10px;
}

.list section:nth-child(even) {
    background-color: #C1C6CA;
}

.list section a {
    text-align: left;
}

section p {
    font-family: Domine;
    font-size: smaller;
}

section a {
    font-family: Domine;
    font-size: 0.85rem;
    color: navy;

}

.cards img {
    height: 75px;
    width: auto;
    max-width: 100%;
}