@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Old+Standard+TT&display=swap');

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #A4C3B2;
    margin: auto;
    max-width: 1500px;
}

#profile {
    grid-column: 1 / 2;
    width: 50%;
    justify-self: right;
    padding: 30px 0px 30px 0px;
}

h1 {
    grid-column: 2 / 4;
    justify-self: left;
    font-family: "Bebas Neue";
    padding: 20px 0px 20px 10px;
    align-self: center;
    letter-spacing: 5px;
    font-size: 150%;
}

nav {
    margin: auto;
    /*background-color: #5C7C6F; EAF4F4 A4C3B2*/
    max-width: 1500px;
}

#menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 3px 7px 6px;
    background-color: #eee;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "🔺";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #EAF4F4;
    color: #fff;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: "Old Standard TT";
}

.navigation a:hover {
    background-color: #5C7C6F;
    color: white;
}

.open a {
    display: block;
}

.active::before {
    content: "🔍";
}

nav a:hover {
    border: 1px solid white;
}

a {
    margin: auto;
    font-family: "Old Standard TT";
    color: #F6FFF8;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

main {
    max-width: 1500px;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

div .hero {
    grid-row: 1/2;
    margin: 10px auto;
    position: relative;
    border: 1px solid rgba(180, 208, 240, 0.1);
    height: 300px;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.herolabel {
    position: absolute;
    top: 300px;
    left: 120px;
    background: radial-gradient(#fff, #A4C3B2);
    border: 1px solid rgba(0, 0, 0, .75);
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
}

.herolabel p {
    color: #000;
    margin: 0;
    padding: .25rem;
    font-size: 1rem;
    font-family: "Bebas Neue";
}

h2 {
    width: 100%;
    text-align: center;
    grid-row: 2 / 3;
    background-color: white;
    margin: auto;
    font-family: "Bebas Neue";
    letter-spacing: 3px;
    padding: 40px 0px 0px 0px;
    border-bottom: 1px solid black;
}

h3 {
    font-family: "Bebas Neue";
    margin: auto;
    text-align: center;
    background-color: #A4C3B2;
    letter-spacing: 2px;
    padding: 10px 0px 10px 0px;

}

p {
    font-family: "Old Standard TT";
    margin: auto;
    text-align: center;
    padding: 5px 0px 5px 0px;
    color: #F6FFF8;

}

section:nth-of-type(1) {
    grid-row: 3 / 4;
    background-color: white;
    margin: auto;
    border: 1px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 10px 1px #5C7C6F;
}

section:nth-of-type(2) {
    width: 100%;
    grid-row: 4 / 5;
    background-color: white;
    margin: auto;
    border: 1px solid black;
    margin-bottom: 30px;
    box-shadow: 2px 2px 10px 1px #5C7C6F;
}

.sectiontext {
    color: black;
}

ul {
    margin: auto;
}

li {
    list-style-type: none;
    padding: 5px 0px 5px 0px;
}

iframe {
    width: 100%;
    margin-bottom: 40px;
    box-shadow: 2px 2px 10px 1px #5C7C6F;
    height: 450px;

}

.close {
    display: none;
}

footer {
    margin: auto;
    padding: 20px 0px 20px 0px;
    background-color: #5C7C6F;
    max-width: 1500px;
}