@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Old+Standard+TT&display=swap');

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #EAF4F4;
    margin: auto;
    max-width: 1500px;
}

#profile {
    grid-column: 1 / 2;
    width: 40%;
    justify-self: right;
    padding: 30px 0px 30px 0px;
}

h1 {
    grid-column: 2 / 4;
    justify-self: left;
    font-family: "Bebas Neue";
    padding: 20px 0px 20px 30px;
    align-self: center;
    letter-spacing: 5px;
    font-size: 400%;

}

nav {
    display: grid;
    margin: auto;
    padding: 20px 0px 20px 0px;
    background-color: #5C7C6F;
    max-width: 1500px;
}

a {
    display: block;
    margin: auto;
    font-family: "Old Standard TT";
    color: #F6FFF8;
    padding: 5px;

}

main {
    max-width: 1500px;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr;
}

h2 {
    width: 80%;
    text-align: center;
    grid-row: 1 / 2;
    background-color: white;
    margin: auto;
    font-family: "Bebas Neue";
    letter-spacing: 3px;
    padding: 40px 10px 0px 0px;
    border-bottom: 1px solid black;
}

h3 {
    font-family: "Bebas Neue";
    margin: auto;
    text-align: center;
    background-color: #A4C3B2;
    letter-spacing: 2px;
    padding: 10px 0px 10px 0px;

}

p {
    font-family: "Old Standard TT";
    margin: auto;
    text-align: center;
    padding: 5px 0px 5px 0px;
    color: #F6FFF8;

}

section:nth-of-type(1) {
    width: 80%;
    grid-row: 2 / 3;
    background-color: white;
    margin: auto;
    border: 1px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
}

section:nth-of-type(2) {
    width: 80%;
    grid-row: 3 / 4;
    background-color: white;
    margin: auto;
    border: 1px solid black;
    margin-bottom: 30px;
}

.sectiontext {
    color: black;
}

ul {
    margin: auto;
}

li {
    list-style-type: none;
    padding: 5px 0px 5px 0px;
}

footer {
    margin: auto;
    padding: 20px 0px 20px 0px;
    background-color: #5C7C6F;
    max-width: 1500px;
}