@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    /*--------------Fonts--------------*/
    --fontAccent: "Libre Baskerville";
    --paragraph: "Libre Baskerville";
    --header: "League Spartan";

    /*--------------Colors--------------*/
    --darkBackground: #675D51;
    --lightBackground: #EFF1F1;
    --darkTransparent: rgb(103, 93, 81, .1);
    --shadows: #D3CFC5;
    --accent1: #B8CAD6;
    --accent2: #A0031D;
    --textOnWhite: black;
    --textOnBlack: white;
}

/* ---------------------------------- Message with close button ---------------------------------- */
h1,
h2,
h3,
h4 {
    font-family: var(--header);
    text-transform: uppercase;
}

p,
a,
li {
    font-family: var(--paragraph);
    font-size: .8rem;
}

.message {
    display: block;
    width: 100%;
    border: 1px solid var(--shadows);
    background-color: var(--accent1);
    text-align: center;
    font-family: var(--paragraph);
}

.message p {
    margin: 0;
    font-family: var(--paragraph);
    font-size: .8rem;
}

.hide {
    display: none;
}

#close {
    border: 1px solid var(--blackTransparent);
    padding: 3px 7px 6px;
    background-color: var(--backgroundColor);
    color: var(--color1);
    position: static;
}

#close::before {
    content: "✕";
}

/* ---------------------------------- Body Header Hero ---------------------------------- */
body,
header,
#hero,
nav {
    margin: auto;
    max-width: 1500px;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h1 {
    grid-column: 1/2;
    padding-left: 20px;
    font-family: var(--paragraph);
    text-transform: uppercase;
}

/* ---------------------------------- Menu button ---------------------------------- */
.menu {
    font-size: 1.5rem;
    border: 1px solid var(--textOnWhite);
    padding: 3px 7px 6px;
    background-color: var(--darkTransparent);
    color: var(--color1);
    position: absolute;
    top: 3rem;
    right: 1rem;
}

.menu::before {
    content: "☰";
}

.menu.open::before {
    content: "✕";
}

.messageClosed,
.noMessage {
    top: 1rem;
}

/* ---------------------------------- Navigation ---------------------------------- */
.navigation {
    grid-column: 1/3;
    grid-row: 2/3;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: var(--lightBackground);
    color: var(--darkBackground);
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: var(--paragraph);
    font-size: 1rem;
}

.navigation a:hover {
    background-color: var(--darkTransparent);
    color: var(--color5);
}

.open a {
    display: block;
}

a {
    margin: auto;
    font-family: var(--paragraph);
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: var(--color1);
}

main {
    margin: auto;
    display: flex;
    flex-direction: column;

}

/* ---------------------------------- Hero ---------------------------------- */

#hero {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

picture {
    width: 100%;
    height: auto;
}

picture img {
    width: 100%;
}

/* ---------------------------------- Rentals Div ---------------------------------- */

.rentals {
    display: flex;
    flex-direction: column;
}

.rentals h2 {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-family: var(--paragraph);
    font-style: italic;
    font-weight: 100;
    margin-bottom: 0;
}

.rentals p {
    margin: auto;
    padding: 30px;
    text-align: center;
    font-family: var(--paragraph);
    font-size: .8rem;
}

a:hover img {
    transform: scale(1.1);
}

/* ---------------------------------- Action Call ---------------------------------- */
.action_call {
    border: 1px solid var(--shadows);
    box-shadow: 1px 2px 10px 1px var(--accent1);
    padding: 10px 50px;
    margin: auto;
    font-family: var(--paragraph);
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 60px;
    background-color: var(--lightBackground);
}

.rentals div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 20px;
    grid-gap: 20px;
    width: 80%;
    margin: auto;
}

.rentalItems img {
    width: 100%;
    margin: auto;
}

.rentalItems h4 {
    font-family: var(--paragraph);
    font-size: .5rem;
    text-align: center;
}

/* ---------------------------------- facilities Div ---------------------------------- */
.facilities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

.facilities h2 {
    text-align: center;
    grid-column: 1/3;
    font-family: var(--paragraph);
    font-style: italic;
    font-weight: 100;
}

.facilities p {
    grid-column: 1/3;
    text-align: center;
}

.facilities h3 {
    text-align: center;
    font-family: var(--paragraph);
    font-weight: 300;
    font-size: .8rem;
}

.facilities img {
    width: 80%;
    margin: auto;
}


/* ---------------------------------- Weather Div ---------------------------------- */

#weather {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#weather h2 {
    text-align: center;
    font-family: var(--paragraph);
    font-style: italic;
    font-weight: 100;
}

.weatherImg {
    width: 50%;
    float: left;
    margin: 7px 20px 7px 0;

}

#weather p,
figure img,
figure figcaption {
    margin: auto;
    padding: 20px;
    text-align: left;
    font-family: var(--paragraph);
}

.weatherDiv {
    display: flex;
    flex-direction: column;
    font-family: var(--paragraph);
    font-size: .8rem;
}

.weatherDiv h3,
.forecastDiv h4 {
    text-align: center;
    font-family: var(--paragraph);
    font-style: italic;
    font-weight: 100;
    font-size: 1.5rem;
}

.forecastDiv h4 {
    font-size: 1rem;
}

.weatherDiv figure {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    border: 1px solid var(--shadows);
}

.forecastDiv {
    background-color: var(--lightBackground);
    width: 80%;
    font-family: var(--paragraph);
    font-size: .8rem;
    margin: 30px auto 50px auto;
    border: 2px solid var(--shadows);
}

.forecastDiv figure {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    border-bottom: 1px solid var(--shadows);
    border-top: 1px solid var(--shadows);
}

.forecastDiv figure img {
    padding: 0;
}

.forecastDiv figure figcaption {
    padding: 0;
}

/* ---------------------------------- Footer ---------------------------------- */

footer {
    background-color: var(--darkBackground);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: var(--lightBackground);
    font-family: var(--paragraph);
    font-size: .8rem;
    text-align: center;
}

footer p,
footer a {
    grid-column: 1/4;
}

footer p:nth-child(1) {
    margin-bottom: 0;
}

#social {
    grid-column: 2/3;
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    padding-bottom: 20px;
}

#social img {
    width: 60%;
}



/* ---------------------------------- Rentals Page ---------------------------------- */
/* ---------------------------------- Table ---------------------------------- */

.rentalInfo {
    text-align: left;
    border-bottom: 2px solid var(--shadows);
    border-top: 2px solid var(--shadows);
    margin-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.rentalInfo h2 {
    padding-left: 50px;
    padding-right: 30px;
    font-family: var(--fontAccent);
    font-style: italic;
    font-weight: 100;
}

.card {
    text-align: left;
    border: 2px solid var(--shadows);
    margin-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.card div {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
}

.card img {
    width: 30%;
    margin: 10px auto 20px auto;
    box-shadow: 0 0 10px var(--shadows);
}

.card h4,
.card h3 {
    padding-left: 50px;
    padding-right: 30px;
    font-family: var(--fontAccent);
    font-style: italic;
    font-weight: 100;
}

.card ul {
    padding-left: 70px;
    padding-right: 30px;
}

/* ---------------------------------- Table ---------------------------------- */
table {
    margin: 10px auto;
    border: thin solid var(--shadows);
    box-shadow: 0 0 10px var(--shadows);
    border-collapse: collapse;
}

caption {
    padding: 10px;
    caption-side: bottom;
    color: var(--textOnWhite);
    font-size: .65rem;
    font-family: var(--paragraph);
}

tr:first-child th {
    background-color: var(--accent1);
    color: var(--textOnWhite);
}

th,
td {
    padding: 7px 15px;
    border: 1px solid var(--shadows);
}

th {
    background-color: var(--darkTransparent);

}

td {
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: var(--accent1);
}

.rent {
    margin-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
}

/* ---------------------------------- Reservation Page ---------------------------------- */

.agreementInfo {
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    background-color: var(--lightBackground);
}

.agreementInfo h2 {
    font-family: var(--fontAccent);
    font-style: italic;
    font-weight: 100;
}

.agreementInfo li {
    padding: 10px;
}

/* ---------------------------------- Form ---------------------------------- */


.f1 {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    padding-left: 30px;
    padding-right: 30px;

}

.f1 label {
    display: block;
    padding: 1rem;
    color: var(--textOnWhite);
    font-size: .9rem;
    font-family: var(--paragraph);
    width: 100%;
}

.f1 input[type=text],
.f1 input[type=tel],
.f1 input[type=email],
.f1 input[type=date],
.f1 input[type=number],
.f1 select,
.f1 textarea {
    background-color: var(--lightBackground);
    display: block;
    border: 1px solid var(--darkTransparent);
    border-radius: 6px;
    padding: .8rem;
    color: var(--color1);
    width: 100%;
    max-width: 400px;
    appearance: none;
    text-align: left;
    transition: all 0.2s ease-in-out;
    font-size: .9rem;
}

.f1 input[type="submit"] {
    border: none;
    background-color: var(--accent1);
    color: var(--textOnWhite);
    border-radius: 6px;
    padding: .8rem;
    width: 100%;
    margin: -1rem 2rem;
    max-width: 400px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.f1 input[type="submit"]:hover {
    transform: scale(1.05);
}

.f1 input:required {
    border-left: solid 3px var(--accent2);
}

.f1 input:required:valid {
    border-left: solid 3px var(--accent1);
}

.record {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    text-align: center;
}


/* ---------------------------------- Rentals Page ---------------------------------- */

h2 {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 10px;
    font-family: var(--fontAccent);
    font-style: italic;
    font-weight: 100;

}

p {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 30px;
}

.contactInfo {
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 70%;
    border: 1px solid var(--shadows);
    box-shadow: 2px 2px 10px 1px var(--shadows);
    border-radius: 20px;
    background-color: var(--darkTransparent);
    margin-bottom: 50px;
    font-family: var(--paragraph);
}

.contactInfo h3 {
    font-family: var(--fontAccent);
    font-style: italic;
    font-weight: 100;
}

.contactInfo p {
    padding: 0;
    margin-bottom: 3px;
}


/* ---------------------------------- Map ---------------------------------- */


iframe {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 2px 2px 10px 1px var(--shadows);
    border-radius: 20px;
    height: 300px;
}

/* ---------------------------------- Contact Us Form ---------------------------------- */

.contactUs {
    margin: auto;
    width: 100%;
    border: 1px solid var(--shadows);
    border-radius: 20px;
    box-shadow: 2px 2px 10px 1px var(--shadows);
    background-color: var(--lightBackground);
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 50px;
}

.f2 input[type=text],
.f2 input[type=email],
.f2 textarea {
    background-color: var(--textOnBlack);
    border: 1px solid var(--darkBackground);

}

.f2 input:required {
    border-left: solid 3px var(--accent2);
}

.f2 input:required:valid {
    border-left: solid 3px var(--accent1);

}

.f2 {
    margin-top: 10px
}

.f2 textarea {
    height: 100px;
}