@media (min-width: 600px) {
    :root {
        /*--------------Fonts--------------*/
        --fontAccent: "Libre Baskerville";
        --paragraph: "Libre Baskerville";
        --header: "League Spartan";

        /*--------------Colors--------------*/
        --darkBackground: #675D51;
        --lightBackground: #EFF1F1;
        --darkTransparent: rgb(103, 93, 81, .1);
        --shadows: #D3CFC5;
        --accent1: #B8CAD6;
        --accent2: #A0031D;
        --textOnWhite: black;
        --textOnBlack: white;
    }

    /* ---------------------------------- Index Page ---------------------------------- */
    h1 {
        font-size: 3rem;
        margin-bottom: 10px;
    }

    .rentals p,
    .facilities p,
    #weather p {
        font-size: .9rem;
        line-height: 2;
    }

    .rentals h2,
    .facilities h2,
    #weather h2,
    .weatherDiv h3 {
        font-weight: 900;
    }

    .menu {
        display: none;
    }

    /* ---------------------------------- Navigation ---------------------------------- */

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: flex;
    }

    /* ---------------------------------- Hero ---------------------------------- */
    #hero {
        padding-top: 0;
    }

    /* ---------------------------------- Rentals ---------------------------------- */
    /* ---------------------------------- facilities ---------------------------------- */

    .rentals h2,
    .rentals p,
    .facilities h2,
    .facilities p,
    .facilities img,
    .weather p {
        text-align: left;
        padding-left: 50px;
        padding-right: 50px;
    }

    .rentals div {
        margin-left: 50px;
        margin-right: 50px;
        grid-gap: 30px;
    }

    /* ---------------------------------- Action Call ---------------------------------- */

    .action_call {
        padding: 10px 150px;
    }

    /* ---------------------------------- Weather ---------------------------------- */

    #weather {
        margin-left: 50px;
        margin-right: 50px;
    }

    #weather h2,
    .weatherDiv h3 {
        text-align: left;
        padding-left: 20px;
    }

    .weatherDiv figure {
        margin-left: 20px;
        margin-right: 20px;
    }

    .forecastDiv {
        margin-left: 20px;
        width: 100%;
    }
}